@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: inter;
    box-sizing: border-box;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    cursor: pointer;
}
button{
    background-color: none;
    outline: none;
    border: none;
}


/*############# navbar ###############################################*/
.main_container{
    background: url(image/5.png),url(image/6.png),url(image/8.png),url(image/Hero.jpg);
    background-repeat: no-repeat;
    background-size: 16vw,8vw,10vw,cover;
    background-position: bottom right,bottom left,bottom center,center;
}

#first{
    height: 8vw;
    top: -5vh;
}
#second{
    height: 5vw;
    top: 11vh;
    left: 14vw;
}
#third{
    height:10vw;
    left: 40vw;
}
#fourth{
    position: absolute;
    height: 17vw;
    right: 0;
}

#seventh{
    height: 22vw;
    position: absolute;
    top: 24vh;
    left: 0;
}

.navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}

.logo{
    display: flex;
    color: aliceblue;
}
.logo p{
    font-family: orbitron;
    font-size: x-large;
    font-weight: 800;
}
.logo img{
    width: 20px;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    display: inline-block;
    margin: 0 15px;
}

.navbar ul a{
    color: aliceblue;
    font-size: 14px;
    position: relative;
    transition: 0.2s linear;
}

.navbar ul a:hover::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fb4b29;
    transition: 0.2s linear;
}

.navbar ul a:hover::before,ul a:hover{
   color: #fb4b29; 
   width: 100%;
}

.nav_info{
    color: white;
    font-size: 0.8rem;
}

/*############################# header ###############*/

.start_content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 15%;
    padding-bottom: 5%;
}
.start_content h1{
    font-family: orbitron;
    font-weight: 700;
    font-size: 70px;
    align-content: center;
    text-align: center;
}

.start_content p{
    margin: 2rem;
}

.start_btn button{
    background: #ed4827;
    color: aliceblue;
    width: auto;
    padding: 0 15px;
    height: 35px;
    font-family: orbitron;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s linear;
}

.start_btn button:hover{
    background: white;
    color: #fb4b29;
    border: 2px solid #fb4b29;
}

.hamburger-menu input[type="checkbox"]{
    width: 30px;
    height: 22px;
    position: absolute;
    top: 10px;
    opacity: 0;
}
.hamburger-menu input[type="checkbox"]:hover{
    cursor: pointer;
}
.menu{
    display: none;
    position: absolute;
    top: 25px;
    width: 80px;
    background-color: rgba(244, 242, 238, 1);
}
.menu li{
    list-style-type: none;
    font-size: 12px;
    padding: 4px;
    border: 1px solid grey; 
    border-bottom: 1px solid grey;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu{
    display: block;
}
.hamburger-lines{
    background: rgba(244, 242, 238, 1);
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hamline{
    background-color: black;
     width: 100%; 
     height: 4px; 
    display: block;
} 
.toggle-btn{
    z-index: 100;
    cursor: pointer;
}
.toggle-btn img{
    height: 20px;
    display: none;
}

/*######################## responsive ##################*/
@media(max-width:1263px){
    #first{
        top: 0;
    }
    #seventh{
        top: 30vh;
        height: 28vw;
    }
}
@media(max-width:945px){
    .main_container{
        background-size: 20vw,12vw,14vw,cover;
        
    }
}
@media(max-width:884px){
    .start_content h1{
        font-size: 50px;
    }
    .start_content p{
        font-size: 0.7rem;
    }
    #first{
        height: 14vw;
    }
    #second{
        height: 10vw;
    }
    #third{
        height: 13vw;
    }
    #fourth{
        height: 21vw;
    }
}
@media(max-width:635px){
    #seventh{
        top: 35vh;
        height: 33vw;
    }
}
@media(max-width:955px){
    .navbar ul{
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: black;
        z-index: 100;
        padding: 80px 0 25px 0;
        border: 2px solid white;
    }
    .logo{
        z-index: 1000;
    }
    .navbar ul li{
        width: 100%;
        text-align: center;
        margin: 8px 0;
    }
    .navbar ul.active{
        display: block;
    }
    .hamburger-menu{
        display: block;
    }
    .toggle-btn img{
        display: block;
    }
}
@media(min-width:955px){
    .hamburger-menu{
        display: none;
    }
}
@media(max-width:545px){
    .start_content h1{
        font-size: 40px;
    }
    .start_content p{
        font-size: 0.5rem;
    }
    .start_content button{
        font-size: 0.5rem;
    }
    #first{
        height: 15vh;
    }
    #second{
        height: 8vh;
    }
    #third{
        height: 13vh;
    }
    #fourth{
        height: 23vh;
        top: 30vh;
    }
    #seventh{
        height: 30vh;
    }
}
@media(max-width:435px){
    .navbar{
        padding: 20px 0;
    }
    .logo p{
        font-size: larger;
    }
    .logo img{
        width: 15px;
    }
    .nav_info{
        font-size: 7px;
    }
    .main_container{
        background-size: 25vw,17vw,19vw,cover;
    }
    #first{
        height: 19vw;
    }
    #second{
        height: 8vw;
    }
    #third{
        height: 18vw;
        left: 30vw;
    }
    #fourth{
        height: 35vw;
        top: 25vh;
    }
}
@media(max-width:373px){
    .back_img img{
        position: relative;
    }
    .start_content h1{
        font-size: 30px;
    }
    .start_content p{
        font-size: 0.5rem;
    }
}
/*######################## sun #######################*/
.second_sec{
    background-image: url(image/background\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.second_sec img{
    width: 100vw;
}
.topic{
    font-family: orbitron;
    font-weight: 600;
    font-size: 60px;
    color: aliceblue;
    z-index: 100;
}
.exp{
    font-size: 20px;
    color: aliceblue;
    z-index: 100;
}
.num{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 10px;
}
.num h1{
    font-family: orbitron;
    font-size: 10px;
}
.num p{
    font-family: orbitron;
    font-weight: 400;
    font-size: 20px;
}
.box img{
    height: 30px;
    width: 30px;
}
.box{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#430E49,#370D44,#170B36,#100A33);
    border: 2px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    align-items: center;
    /*display: inline-block*/
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.text1{
    margin: 0px 20px;
    padding-bottom: 20px;
    width: 60vw;
}
.third_sec{
    background: url(image/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.third_sec img{
    min-height: fit-content;
    height: 100%;
    align-self: center;
}
.text2,.text3,.text4 .partition{
    width: 50vw;
    margin: 10px;
    align-self: center;
}
.fourth_sec{
    background: url(image/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.fourth_sec .ven{
    width: 50%;
    align-self: last baseline;
}
.text3{
    margin: 20px;
}

/*#############################fifth secotion ########################*/
.fifth_sec{
    background: url(image/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.extra_info h2{
    color: white;
    font-family: orbitron;
    font-weight: 600;
    font-size: 40px;
}
.text4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.text4 .box{
    height: fit-content;
}
.ear{
    width: 100%;
}
.extra_info{
    max-width: 60vw;
    width: fit-content;
    text-align: right;
    padding: 15px;
}
.text4 .partition{
    max-width: 60vw;
    width: fit-content;
}
.moon_sec img{
    width: 20%;
}
.moon_sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*####################sixth section########################*/
.sixth_sec{
    background: url(image/Mars_back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text5{
    max-width: 60vw;
    width: fit-content;
}
.mars{
    max-width: 60vw;
}
.mars_moon_sec img{
    max-width: 30%;
}
.mars_moon_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin-left: 10%;
}
.text5 .partition{
    padding: 3%;
}

/*###################seventh section ####################*/
.seventh_sec{
    background: url(image/Jupiter_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.jup,.sat{
    max-width: 50vw;
}
.text6,.text7{
    max-width: 50vw;
    padding: 3%;
}
.text6 .info,.text7 .info{
    flex-direction: column;
}

/*#########################eighth section######################*/
.eighth_sec{
    background: url(image/Saturn_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
/*#####################ninth section ###############*/
.ninth_sec{
    background: url(image/Uranusback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text8{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    align-items: center;
    justify-content: space-evenly;
}
.ura,.nep{
    width: 100%;
}
.text8 .partition{
    max-width: 40%;
}
.text8 .info{
    height: fit-content;
}
/*####################tenth section#################*/
.tenth_sec{
    background: url(image/Neptuneback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%; 
    margin: 0 auto;
}
.text9 .partition{
    text-align: center;
}

/*################footer####################*/
.form {
    display:flex;
    flex-direction:row;
    padding:1px;
    padding-right: 5px;
    margin: 2% auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
  }
  
.form input {
    flex-grow:2;
    border:none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

 .form input:focus {
    outline: none;
  }
  
.form button {
    border:1px solid blue;
    background:blue;
    color:white;
    border-radius: 20px;
    margin: 1%;
}
.footer{
    height: 50vh;
    background:url(image/lastimage.png),url(image/Footer.png);
    background-position: left top,center;
    background-repeat: no-repeat;
    background-size:100vw,cover;
    padding-top: 10vh;
}
.footer_content{
    text-align: center;
    border: 2px solid rgb(134,96,166);
    background-color: #1a1a1a;
    margin: auto;
    max-width: 70vw;
    border-radius: 15px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.footer_content h2{
    font-family: orbitron;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer_content p{
    font-size: small;
}
.form input{
    margin-left: 5px;
}
.form button{
    padding: 10px;
    background-color: #ff0080;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
}
.form button:hover{
    cursor: pointer;
}
/*################# responsive #################*/
@media(max-width:1050px){
    .topic{
        font-size: 45px;
    }
    .exp{
        font-size: 14px;
    }
    .third_sec .merc{
        width: 40%;
    }
    .mars_moon_sec{
        max-width: 35vw;
        margin-left:35%;
    }
}
@media(min-width:880.5px){
    .sixth_sec .info{
        max-width: fit-content;
        flex-direction: column;
        position: absolute;
        right: 5%;
        top: 4%;
    }
}
@media(max-width:880px){
    .text5{
        max-width: 80vw;
    }
    .mars_moon_sec{
        max-width: 50vw;
        margin-left: 45%;
        align-items: start;
    }
}
@media(max-width:800px){
    .text{
        width: 90vw;
    }
    .third_sec .merc{
        width: 35%;
    }
    .text2{
        width: 50vw;
    }
    .text4{
        padding: 0px;
        padding-top: 10px;
    }
    .text4 .partition{
        margin: 0px;
        margin-left: 5px;
    }
    .text8{
        justify-content: flex-start;
    }
    .text8 .partition{
        max-width: 80%;
    }
}

@media(max-width:650px){
    .topic{
        font-size: 40px;
    }
    .exp{
        font-size: 12px;
    }
}
@media(max-width:520px){
    .moon_sec img{
        max-height: 10%;
        height: 120px;
        align-self: last baseline;
    }
}
@media(max-width:450px){
    .box img{
        height: 20px;
        width: 20px;
    }
    .num h1{
        font-size: 8px;
    }
    .num p{
        font-size: 12px;
    }
    .jup,.sat{
        max-height: 40vh;
    }
    .text7 .topic{
        font-size: 33px;
    }
    .text7 .exp{
        font-size: 10px;
    }
}
@media(max-width:350px){
    .mars_moon_sec{
        align-items: center;
    }
    .mars_moon_sec img{
        justify-self: last baseline;
    }
    .extra_info h2{
        font-size: 30px;
    }
    .extra_info p{
        font-size: 7px;
    }
    .sat{
        max-width: 40vw;
    }
    .text7{
        max-width: 60vw;
    }
    .text8 .partition{
        max-width: 100%;
    }
}
@media(max-width:280px){
    .topic{
        font-size: 30px;
    }
    .exp{
        font-size: 8px;
    }
    .box{
        padding: 5px;
    }
    .jup,.sat{
        max-height: 35vh;
    }
    .text7 .topic{
        font-size: 27px;
    }
    .text7 .exp{
        font-size: 8px;
    }
}
@media(max-width:240px){
    .mars_moon_sec{
        margin-left: 30%;
    }
    .jup,.sat{
        max-height: 30vh;
    }
}


